In [2]:
import pandas as pd

In [5]:
# aplicar função em toda coluna de um dataframe pandas
df = pd.read_csv('apple.csv')
df.head(10)

        Date    Open    High     Low   Close    Volume
0   7-Jul-17  142.90  144.75  142.90  144.18  19201712
1   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2   5-Jul-17  143.69  144.79  142.72  144.09  21569557
3   3-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107
5  29-Jun-17  144.71  145.13  142.28  143.68  31499368
6  28-Jun-17  144.49  146.11  143.16  145.83  22082432
7  27-Jun-17  145.01  146.16  143.62  143.73  24761891
8  26-Jun-17  147.17  148.28  145.38  145.82  25692361
9  23-Jun-17  145.13  147.16  145.11  146.28  35439389

In [27]:
def AddPercent(x):
    return x + (x * 0.1)

In [28]:
# aplica a função para todos os elementos da coluna
df['Open'].apply(AddPercent).head(5)

0    157.190
1    157.322
2    158.059
3    159.368
4    158.895
Name: Open, dtype: float64